@using hiravrt.Controllers

@inject NavigationManager nm
@inject MainController mc

@{
    bool isHome = nm.Uri.EndsWith("/");
    if (isHome) {
        <header id="main-page-header">
            <a id="main-page-logo-link" href="@mc.HomeC.Home()">
                <img id="page-logo" src="img/logo_one.svg" alt="HIRA.VRT logo">
            </a>

            <a id="main-page-head-title-link" href="@mc.HomeC.Home()">
                <h1 id="main-page-title-text">HIRA.VRT</h1>
            </a>

            <nav id="main-page-navigation">
                <a class="navigation-bar-link" href="@mc.HomeC.Home()">HOME</a>
                <a class="navigation-bar-link" href="@mc.HomeC.Settings()">SETTINGS</a>
                <a class="navigation-bar-link" href="@mc.HomeC.About()">ABOUT</a>
                <a class="navigation-bar-link" href="@mc.HomeC.Contact()">CONTACT</a>
            </nav>
        </header>
    } else {
        <header id="sub-page-header">
            <a id="sub-page-logo-link" href="@mc.HomeC.Home()">
                <img id="page-logo" src="img/logo_one.svg" alt="HIRA.VRT logo">
            </a>

            <a id="sub-page-head-title-link" href="@mc.HomeC.Home()">
                <h1 id="sub-page-head-title-text">HIRA.VRT</h1>
            </a>

            <nav id="sub-page-navigation">
                <a class="navigation-bar-link" href="@mc.HomeC.Home()">HOME</a>
                <a class="navigation-bar-link" href="@mc.HomeC.Settings()">SETTINGS</a>
                <a class="navigation-bar-link" href="@mc.HomeC.About()">ABOUT</a>
                <a class="navigation-bar-link" href="@mc.HomeC.Contact()">CONTACT</a>
            </nav>
        </header>
    }
}

